<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">

    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Superlists</a>
            {% if user.email %}
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'my_lists' user.email %}">My lists</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">Logged in as {{ user.email }}</li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                </ul>
            {% else %}
                <form class="navbar-form navbar-right"
                      action="{% url 'send_login_email' %}"
                      method="POST">
                    <span>Enter email to log in:</span>
                    <input type="text" class="form-control" name="email"/>
                    {% csrf_token %}
                </form>
            {% endif %}
        </div>
    </div>

    {% if messages %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for message in messages %}
                    {% if message.level_tag == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-6 jumbotron">
            <div class="text-center">
                <h1>{% block header_text %}{% endblock %}</h1>

                <form method="POST" action="{% block form_action %}{% endblock %}">
                    {{ form.text }} {# renders HTML output for 'text' field #}
                    {% csrf_token %}
                    {% if form.errors %} {# this is all error msgs #}
                        <div class="form-group has-error">
                            {# this is errors for 'text' field only #}
                            <div class="help-block">{{ form.text.errors }}</div>
                        </div>
                    {% endif %}
                </form>

                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/list.js"></script>
<script>
    $(document).ready(function () {  // an. function to execute when the DOM is fully loaded
        window.SuperLists.initialize();
    })
</script>

</body>
</html>